@page "/Dashboard"
@namespace Zs.Home.ClientApp.Pages.Dashboard
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model IndexModel
@{
    ViewData["Title"] = "Dashboard";
}
<h1>@ViewData["Title"]</h1>

<div class="container">
    <div class="row" id="weather-dashboard">
        @await Html.PartialAsync("_WeatherDashboard", Model.WeatherDashboard)
    </div>
    <div class="row" id="ping-result">
        @await Html.PartialAsync("_PingResult", Model.PingResult)
    </div>

</div>
