@page "/VkActivity"
@namespace Zs.Home.ClientApp.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model Zs.Home.ClientApp.Pages.VkActivity.IndexModel
@{
    ViewData["Title"] = "VkActivity";
}
<h1>@ViewData["Title"]</h1>

<p>VkActivity content</p>
